.signInput {
    width: 40%
}

.signInLink {
    text-decoration: none;
    color: rgba(84,118,221,1);
    font-weight: bold;
}

.signInLink:hover {
    color: rgb(22,219,147);
}

@media (max-width: 500px) {
    .signInput {
        width: 80%;
    }

    .SignIn h1  {
        font-size: 40px;
    }
}