.signInput {
    width: 40%
}

.signInLink {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.signInLink:hover {
    color: orangered;
}

@media (max-width: 500px) {
    .signInput {
        width: 80%;
    }

    .SignIn h1  {
        font-size: 40px;
    }
}