.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 30%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 35%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    margin: auto 0;
    color: black;
    border-radius: 15px;
    font-weight: bold;
}

@media (max-width: 500px) {
    .Modal {
        width: 50%;
        left: 25%;
    }
}