body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgb(22,219,147);
  background: -moz-linear-gradient(45deg,  rgba(22,219,147,1) 14%, rgba(22,219,147,1) 21%, rgba(84,118,221,1) 81%, rgba(84,118,221,1) 81%);
  background: -webkit-linear-gradient(45deg,  rgba(22,219,147,1) 14%,rgba(22,219,147,1) 21%,rgba(84,118,221,1) 81%,rgba(84,118,221,1) 81%);
  background: linear-gradient(45deg,  rgba(22,219,147,1) 14%,rgba(22,219,147,1) 21%,rgba(84,118,221,1) 81%,rgba(84,118,221,1) 81%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16db93', endColorstr='#5476dd',GradientType=1 );  
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  text-align: center;
  font-size: 30px;
  color: white;
  width: 60%;
  min-height: 100vh;
  background-color: black;
  margin: auto;
  padding: 100px 30px;

}

button {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  transition: 0.5s;
}

button:hover {
  background-color: rgb(230, 230, 230)
}

@media (max-width: 500px) {
  body, html {
    background: black;
    width: 100%;
  }

  .App {
    width: 100%;
    padding: 50px 0;
  }
}



